@tailwind base;
@tailwind components;
@tailwind utilities;

/* bordered drop area */
.filepond--panel-root {
    background-color: transparent;
    border: 2px solid #2c3340;
}
.swal2-popup {
    font-size: 1.2rem !important;
}
