@tailwind base;
@tailwind components;
@tailwind utilities;

/* bordered drop area */
.filepond--panel-root {
    background-color: transparent;
    border: 2px solid #2c3340;
}
.swal2-popup {
    font-size: 1.2rem !important;
}
.fa-stack[data-count]:after{
    position:absolute;
    right:-3px;
    top:-4px;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

svg {
    display: unset;
}
.footer-row-2 [class*=col-] {
    @apply justify-center;
    @apply flex;
}
